.nav {
    display: flex;
    justify-content: center;
    padding: 0px 36px;
    background-color: hsla(0, 0%, 0%, 0.4);
    color: white;
    height: 69px;
}

.nav h1 {
    position: relative;
    bottom: 5px;
}


.nav__items {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0px;
}

.nav__link {
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    color: white;
    cursor: default;
    transform: scale(1.00);
    transition: all 0.2s;
}

.nav__link:hover {
    text-decoration: none;
    list-style: none;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s;
}

.logo {
    height: 69px;
    position: relative;
    right: 18px;
}

@media all and (max-width: 480px) {
    .nav__items {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-inline-start: 0px;
    }


}