.nav {
    display: flex;
    justify-content: center;
    padding: 0px 36px;
    background-color: black;
    color: white;
    height: 69px;
}

.nav h1 {
    position: relative;
    bottom: 5px;
}


.nav__items {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__link {
    text-decoration: none;
    list-style: none;
    color: white;
    cursor: default;
    transform: scale(1.00);
}

.nav__link:hover {
    text-decoration: none;
    list-style: none;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
}

.logo {
    height: 69px;
    position: relative;
    right: 18px;
}