.project__container {
    padding: 50px;
    text-align: center;
}

.project__card {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project__card a {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 21px;
    padding: 10px 16px;
    margin-right: 24px;
}

.project__card > * {
    margin: 1em 0;
  }

  

  