.project__container {
    padding: 50px;
    text-align: center;
    
}

.project__card {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project__card > * {
    margin: 1em 0;
  }
