.project__item {
	background-size: cover;
	background-position-x: -250px;
    padding: 16px;
    width: 400px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
	color: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);


}

.project__item img {
    cursor: pointer;
    height: 200px;
	border-radius: 2px;
}

.project__link {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 21px;
    padding: 10px 16px;
    margin: 30px;
	border: white 1px solid;
}

.project__link:hover {
	background-color: rgb(187, 187, 187);
	transition: all 0.3s;
}