.project__item {
    padding: 16px;
    width: 400px;
    height: 450px;
    background-color: rgb(224, 226, 226);
    border-radius: 8px;
}

.project__item img {
    cursor: pointer;
    height: 200px;
}