.project__item {
    padding: 16px;
    width: 400px;
    height: 450px;
    background-color: rgb(224, 226, 226);
    border-radius: 8px;
	color: white;
}

.project__item img {
    cursor: pointer;
    height: 200px;
}

.project__gradient {
	background: linear-gradient(45deg, rgba(66, 66, 66, 0.7), rgba(0, 0, 0, 0.7), rgba(68, 68, 68, 0.7), rgba(7, 6, 6, 0.7), rgba(12, 37, 37, 0.7)) 0 0 / 1000% no-repeat, url(https://i.picsum.photos/id/1021/2048/1206.jpg?hmac=fqT2NWHx783Pily1V_39ug_GFH1A4GlbmOMu8NWB3Ts) 0 0 / cover no-repeat;
	-webkit-animation: gradientAnimation 50s ease infinite;
	animation: gradientAnimation 50s ease infinite;
}
@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
