.tech__contents {
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;
}

.tech__items {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.tech__contents h1 {
    margin-bottom: 69px;
}

.tech__items img{
 height: 100px;
 margin-right: 50px;
 padding-bottom: 12px;
}

@media all and (max-width: 480px) {
    .tech__items img {
        height: 50px;
        padding-bottom: 12px;
        margin: 0px 10px;
    }
    .tech__contents h1 {
        margin-bottom: 50px;
    }
}